@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Serif+Display:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #111827; /* grijze tekst */
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
  }


  .font-title {
    font-family: 'Playfair Display', serif;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.anchor-offset {
  scroll-margin-top: 96px;
}

html {
  scroll-behavior: smooth;
}
